/*
*@autor alessandro.souza - 4FDeveloper
*@version 0.1
*
*/


/*================================ Lyout ================================*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: url('../../../Content/dist/background-3.jpg');
    background-attachment: fixed;
}

.caption {
    padding-top: 2px;
}

.caption>h5 {
    padding: 10px 0;
    float: left;
    display: inline-block;
    line-height: 18px;
    font-size: 18px;
}

.caption>.tools {
    padding: 12px 0 8px;
    display: inline-block;
    float: right;
}

.caption-text {
    font-size: 150%;
    font-weight: bold;
}

.fa-chevron-down:before {
    content: "\f078";
    position: relative;
    color: rgb(150, 142, 170);
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.button {
    height: 50%;
    background-color: antiquewhite;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*=========================================================================*/